<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Hero's Image -->
<div class="header-section">
  <div class="header-section-text">
    <h1><span>An Huynh</span></h1>
    <span class = "header-description">Looking for Software Engineering roles</span>
    <a class = "resumeBtn" href="https://huynhtan97.github.io/Portfolio/assets/AnHuynhResume.pdf"><b>Resume</b></a>
    <a class = "reactBtn" href="http://www.huynhtan.me/"><b>My ReactJs Site</b></a>
  </div>
</div>

<!-- About me -->
<div class = "about-me">
  <h2>About Me</h2>
  <div class = "col-left">
    <!-- Personal pic of me here -->
  </div>
  <div class = "col-right">
    <p>Hi! Thank you for visiting my website!</p>
    <p>I received my Bachelor's degree in Computer Science with a minor in Applied Math from Wentworth Institute of Technology
      in December 2019.
    </p>
    <p>I'm originally from West Hartford, CT. I knew I wanted to be in this field after I completed my first computer programming class in Junior year of highschool.
      Since then, I got to expand upon my knowledge by attending hackathons, tech workshops, undergrad work, and from teaching myself via online resources.
    </p>
    <p><b>To view my skills, projects, achievements, and work experience:</b> Please click on the 3 dotted menu button in the toolbar.</p>
  </div>
</div>

<!-- Contact Me -->
<div class = "contact-section">
  <h2>Contact Me</h2>
  <div class = "social-container">
    <div class = "col-1">
      <div class ="line1">
        <i class = "material-icons">local_phone</i>
        <p> <span class = "text-bold">Phone Number:</span> <br/>  <a href="tel: 1-860-794-1274">1-860-794-1274</a></p>
      </div>
      <div class ="line2">
        <i class = "material-icons">mail_outline</i>
        <p> <span class = "text-bold">Email:</span> <br/> <a href="mailto:anh9263@gmail.com">anh9263@gmail.com</a></p>
      </div>
    </div>
    <div class = "col-2">
      <div class ="line1">
        <i class = "material-icons">account_circle</i>
        <p> <span class = "text-bold">Linkedin:</span> <br/> <a href="https://www.linkedin.com/in/huynhan1/">@huynha1</a></p>
      </div>
      <div class ="line2">
        <i class = "material-icons">code</i>
        <p> <span class = "text-bold">Github:</span> <br/> <a href="https://github.com/huynhtan97">@huynhtan97</a></p>
      </div>
    </div>
    <div class = "col-3">
      <div class ="line1">
        <i class = "material-icons">location_on</i>
        <p> <span class = "text-bold">Current City:</span> <br/> <a href="https://goo.gl/maps/xU5yeBia2uahncK19">New York, NY</a></p>
      </div>
      <div class ="line2">
        <i class = "material-icons">create</i>
        <p> <span class = "text-bold">Medium:</span> <br/> <a href="https://medium.com/hackwitus/meet-an-2406e0d7540d">An Huynh</a></p>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer>
  <div class = "footer-text">
    <p> Made with <a class="link-text" href="https://angular.io/guide/quickstart">Angular 5+</a>
      and hosted on <a class="link-text" href="https://github.com/huynhtan97/huynhtan97.github.io">Github</a> </p>
  </div>
</footer>
