<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Hero's Image -->
<div class="header-section">
  <div class="header-section-text">
    <h1><span>Prospective Software Engineer</span></h1>
    <span class = "header-description">BA in Computer Science - Class of 2019</span>
    <a class = "resumeBtn" href="https://huynhtan97.github.io/Portfolio/assets/AnHuynhResume2019.pdf"><b>Resume</b></a>
    <a class = "reactBtn" href="http://www.huynhtan.me/"><b>My ReactJs Site</b></a>
  </div>
</div>

<!-- About me -->
<div class = "about-me">
  <h2>About Me</h2>
  <div class = "col-left">
    <!-- Personal pic of me here -->
  </div>
  <div class = "col-right">
    <p>Hi! Thank you for visiting my website!</p>
    <p>I'm currently a Senior in Computer Science (with minors in Applied Math and Electrical Engineering) at Wentworth
      Institute of Technology in Boston, MA. I'm originally from West Hartford, CT and decided to move to the city
      in order to meet new people and seek opportunities in the city.</p>
    <p>I got into the field back in my Junior Year of high school where I took my first computer programming class. From there, I have both
      learned and gotten involved more within the field from attending hackathons, to self-teaching myself various languages like Javascript and PHP.</p>
    <p><b>To view my skills, projects, achievements, and work experience:</b> Please click on the 3 dotted menu button in the toolbar.</p>
  </div>
</div>

<!-- Contact Me -->
<div class = "contact-section">
  <h2>Contact Me</h2>
  <div class = "social-container">
    <div class = "col-1">
      <div class ="line1">
        <i class = "material-icons">local_phone</i>
        <p> <span class = "text-bold">Phone Number:</span> <br/>  <a href="tel: 1-860-794-1274">1-860-794-1274</a></p>
      </div>
      <div class ="line2">
        <i class = "material-icons">mail_outline</i>
        <p> <span class = "text-bold">Email:</span> <br/> <a href="mailto:">huynha1@wit.edu</a></p>
      </div>
    </div>
    <div class = "col-2">
      <div class ="line1">
        <i class = "material-icons">account_circle</i>
        <p> <span class = "text-bold">Linkedin:</span> <br/> <a href="https://www.linkedin.com/in/huynhan1/">@huynha1</a></p>
      </div>
      <div class ="line2">
        <i class = "material-icons">code</i>
        <p> <span class = "text-bold">Github:</span> <br/> <a href="https://github.com/huynhtan97">@huynhtan97</a></p>
      </div>
    </div>
    <div class = "col-3">
      <div class ="line1">
        <i class = "material-icons">location_on</i>
        <p> <span class = "text-bold">Current City:</span> <br/> <a href="https://goo.gl/maps/cUr6fd9R7ZS2">Boston, MA</a></p>
      </div>
      <div class ="line2">
        <i class = "material-icons">create</i>
        <p> <span class = "text-bold">Medium:</span> <br/> <a href="https://medium.com/hackwitus/meet-an-2406e0d7540d">An Huynh</a></p>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer>
  <div class = "footer-text">
    <p> Made with <a class="link-text" href="https://angular.io/guide/quickstart">Angular 5+</a>
      and hosted on <a class="link-text" href="https://github.com/huynhtan97/huynhtan97.github.io">Github</a> </p>
  </div>
</footer>
