<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Hero's Image -->
<div class="header-section">
  <div class="header-section-text">
    <h1><span>Prospective Software Engineer</span></h1>
    <span class = "header-description">BA in Computer Science - Class of 2019</span>
  </div>
</div>

<!-- About me -->
<div class = "about-me">
  <h2>About Me</h2>
  <div class = "col-left">
    <!-- Personal pic of me here -->
  </div>
  <div class = "col-right">
    <h4>An Huynh</h4>
    <p>Hi! Thank you for visiting my website!</p>
    <p>I'm currently a Senior in Computer Science (with minors in Applied Math and Electrical Engineering) at Wentworth
      Institute of Technology in Boston, MA. I'm originally from West Hartford, CT and decided to move to the city
      in order to meet new people and seek opportunities in the city.</p>
    <p>I got into the field back in my Junior Year of high school where my first language was Visual Basic. From there, I have both
      learned and gotten involved more within the field from attending hackathons, to self-teaching myself various languages like Javascript and PHP.</p>
  </div>
</div>

<!-- Split between label and info : cols -->
<div class = "contact-me">
  <h2>Contact Me</h2>
  <div class="contact-info">
    <table>
      <tr>
        <td>
          <i class="material-icons right">add_location</i>
        </td>
        <td>
            <h4>Current City</h4>
        </td>
        <td>
          <span> </span>
        </td>
        <td>
            <h4>Boston, MA</h4>
        </td>
      </tr>
    </table>
    <!-- <h4><i class="material-icons right">add_location</i> Current City</h4>
    <p>Boston, MA</p> -->
    <h4><i class="material-icons right">local_phone</i> Phone Number</h4>
    <p>+1 (860) 794-1274</p>
    <h4><i class="material-icons right">mail_outline</i> Email</h4>
    <p><a href="mailto:">huynha1@wit.edu</a></p>
    <h4><i class="material-icons right">add</i> Linkedin</h4>
    <p><a href="https://www.linkedin.com/in/huynhan1/">https://www.linkedin.com/in/huynhan1/</a></p>
  </div>
</div>

<!-- Add Footer -->
