<div class = "header">
  <h2>Highlighted Projects</h2>
</div>

<!--
<div class="cards" fxLayout="row" fxLayout.lt-md="column"  fxLayoutGap="10px" fxLayoutAlign="center">
  <div fxLayout.gt-md="row" fxLayout.lt-sm="column"  fxLayoutGap="10px" fxFlex="100"  fxFlex.gt-md="50">
    <div fxFlex.lt-lg="50" fxFlex.lt-sm="100" ><mat-card>1</mat-card></div>
    <div fxFlex.lt-lg="50" fxFlex.lt-sm="100" ><mat-card>2</mat-card></div>
  </div>
  <div fxLayout.gt-md="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="100"   fxFlex.gt-md="50">
    <div fxFlex.lt-lg="50" fxFlex.lt-sm="100" ><mat-card>3</mat-card></div>
    <div fxFlex.lt-lg="50" fxFlex.lt-sm="100" ><mat-card>4</mat-card></div>
  </div>
</div>
-->
<!-- Keep cards in a row until width < 959px -->
<div class="cards" fxLayout="row" fxLayout.lt-md="column"  fxLayoutGap="10px" fxLayoutAlign="center">
  <!--Move all cards to one column if width < 1279px -->
  <div fxLayout.lt-lg="column" fxLayoutGap="20px" fxFlex="90">
    <!-- Keep cards in grid and not overlap eachother -->
    <div fxFlex.lt-lg="50" fxFlex.lt-sm="100">
      <mat-card>
        <mat-card-header>
          <mat-card-title><h4>shefightsback</h4></mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://huynhtan97.github.io/Portfolio/assets/images/sheFightsBack.png" alt="shefightsback" style="max-height: 300px">
        <mat-card-content>
          <p>
            Winner of Most Innovative and She Learns (Best Beginners) prize at SheHacks 2018. Mobile application aimed to allow victims of
            domestic abuse to efficiently report incidents and reach out for help without risk of personal safety.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button href="https://github.com/huynhtan97/sheFightsBack">View Github</a>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex.lt-lg="50" fxFlex.lt-sm="100">
      <mat-card>
        <mat-card-header>
          <mat-card-title><h4>shefightsback</h4></mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://huynhtan97.github.io/Portfolio/assets/images/sheFightsBack.png" alt="shefightsback" style="max-height: 300px">
        <mat-card-content>
          <p>
            Winner of Most Innovative and She Learns (Best Beginners) prize at SheHacks 2018. Mobile application aimed to allow victims of
            domestic abuse to efficiently report incidents and reach out for help without risk of personal safety.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button href="https://github.com/huynhtan97/sheFightsBack">View Github</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div fxLayout.lt-lg="column" fxLayoutGap="20px" fxFlex="90">
    <div fxFlex.lt-lg="50" fxFlex.lt-sm="100">
     <mat-card>
        <mat-card-header>
          <mat-card-title><h4>shefightsback</h4></mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://huynhtan97.github.io/Portfolio/assets/images/sheFightsBack.png" alt="shefightsback" style="max-height: 300px">
        <mat-card-content>
          <p>
            Winner of Most Innovative and She Learns (Best Beginners) prize at SheHacks 2018. Mobile application aimed to allow victims of
            domestic abuse to efficiently report incidents and reach out for help without risk of personal safety.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button href="https://github.com/huynhtan97/sheFightsBack">View Github</a>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex.lt-lg="50" fxFlex.lt-sm="100">
      <mat-card>
        <mat-card-header>
          <mat-card-title><h4>shefightsback</h4></mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://huynhtan97.github.io/Portfolio/assets/images/sheFightsBack.png" alt="shefightsback" style="max-height: 300px">
        <mat-card-content>
          <p>
            Winner of Most Innovative and She Learns (Best Beginners) prize at SheHacks 2018. Mobile application aimed to allow victims of
            domestic abuse to efficiently report incidents and reach out for help without risk of personal safety.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button href="https://github.com/huynhtan97/sheFightsBack">View Github</a>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>
</div>
