<div class = "header">
  <h2>Highlighted Projects</h2>
  <h5>Click on each box to redirect to project's github repository</h5>
</div>

<mat-card class="sub-category-grid"  (window:resize)="onResize($event)">
  <mat-grid-list cols="{{numOfCols}}" rowHeight="2:1">
     <mat-grid-tile *ngFor="let item of Projects">
        <div class="container">
          <a href={{item.link}}>
            <img src="{{item.img_src}}" alt="{{item.alt}}" style="width:100%;">
          </a>
          <div class="centered">{{item.title}}</div>
        </div>
    </mat-grid-tile>
 </mat-grid-list>
</mat-card>

