.header:after{
  content: '';
  display:block;
  clear: both;
}

.header h2 {
  color: #666666;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 10px;
  position: relative;
}

/* Creating the "section" line */
.header h2:after{
  content: '';
  position: absolute;
  width: 80px;
  height: 2px;
  margin-left: -40px;
  left: 50%;
  bottom: 0px;
  background-color: #666666;
}


/* For the cards
.cards {
  padding: 30px;
  margin-bottom: 16px;
}

mat-card {
  margin: 15px;
}
*/

/* For grid tiles */
mat-grid-tile:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.container {
  position: relative;
  text-align: center;
  font-size: 150%;
  font-weight: 600;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
