<mat-vertical-stepper>
  <mat-step label="CSS">
    <h4>Treasurer of CSS</h4>
    <h5>September 2016</h5>
    <h6>Elected Treasurer for Wentworth's first Computer Science Society - Chapter of ACM</h6>
  </mat-step>
  <mat-step label="HackWITUs">
    <h4>Head of Finance for HackWITUs</h4>
    <h5>March 2017</h5>
    <h6>Elected Treasurer for Wentworth's first Computer Science Society - Chapter of ACM</h6>
  </mat-step>
  <mat-step label="CSS">
    <h4>Treasurer of CSS</h4>
    <h5>September 2016</h5>
    <h6>Elected Treasurer for Wentworth's first Computer Science Society - Chapter of ACM</h6>
  </mat-step>
  <mat-step label="CSS">
    <h4>Treasurer of CSS</h4>
    <h5>September 2016</h5>
    <h6>Elected Treasurer for Wentworth's first Computer Science Society - Chapter of ACM</h6>
  </mat-step>
  <mat-step label="CSS">
    <h4>Treasurer of CSS</h4>
    <h5>September 2016</h5>
    <h6>Elected Treasurer for Wentworth's first Computer Science Society - Chapter of ACM</h6>
  </mat-step>
  <mat-step label="CSS">
    <h4>Treasurer of CSS</h4>
    <h5>September 2016</h5>
    <h6>Elected Treasurer for Wentworth's first Computer Science Society - Chapter of ACM</h6>
  </mat-step>
  <mat-step label="CSS">
    <h4>Treasurer of CSS</h4>
    <h5>September 2016</h5>
    <h6>Elected Treasurer for Wentworth's first Computer Science Society - Chapter of ACM</h6>
  </mat-step>
  <mat-step label="CSS">
    <h4>Treasurer of CSS</h4>
    <h5>September 2016</h5>
    <h6>Elected Treasurer for Wentworth's first Computer Science Society - Chapter of ACM</h6>
  </mat-step>
  <mat-step label="CSS">
    <h4>Treasurer of CSS</h4>
    <h5>September 2016</h5>
    <h6>Elected Treasurer for Wentworth's first Computer Science Society - Chapter of ACM</h6>
  </mat-step>
  <mat-step label="CSS">
    <h4>Treasurer of CSS</h4>
    <h5>September 2016</h5>
    <h6>Elected Treasurer for Wentworth's first Computer Science Society - Chapter of ACM</h6>
  </mat-step>
</mat-vertical-stepper>
